<launch>
    <!-- Start tilt joint controller -->
    <rosparam file="$(find dynamixel_controllers)/launch/y_motor.yaml" command="load"/>
    <node name="motor_y" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port ttyUSB0
                motor_y"
          output="screen"/>
</launch>
